// This is an example environment configuration file for the server. 
// You can copy this file to .env and modify the values as needed for your local development environment.
MONGODB_URI=mongodb://127.0.0.1:27017/great-bear-shop